.lNav {
  background-color: white !important;
  border-color: #185782 !important;
  color: #185782 !important;
  margin: 20px;
}
.navbar{
  display: flex;
  justify-items: auto;
  a{
    margin: 0 !important;
  }
}
.panLogo{
  height: auto;
  width: 6rem;
}
#landingPage{
  .main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 3%;

    .panLogo {
      width: 30vw;
      height: auto;
      padding-bottom: 10%;
    }
    .heading{
      width: 40rem;
    }
    
  }
  .nav-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
}
.cardL {
  margin: 10px;
  width: 18rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  img {
    height: 10rem;
  }
  .card-body{
    background-color: white;
    color: #3D5A80;
    height: 10rem;
    
  }
}
.landingCardsContainer{
  display: flex;
  place-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.middle{
  
  height: 20em;
  width: 80%;
  display: flex;
  justify-content: center;
  margin:10px 0 10px 0;
  
  img{
    height: 20em;
    width: 20rem;
  }
}
#navbar-logout-button i{
  color: #3D5A80 !important;
  border: none !important;
}
#navbar-logout-button i:hover{
  color: red !important;
}
.home-nav{
  margin-left: 10px;
}
.carousel{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 70vw;
}
nav{
  display: flex;
  justify-content: space-evenly;;
}
