.crewPilots {
  position: absolute;  
  bottom: 0;
  right: 100;
  width: 45%;
  height: 45%;
  margin: 10px;
  border: solid 2px black;
}
.crewFas {
  position: absolute;  
  bottom: 0;
  left: 100;
  width: 45%;
  height: 45%;
  margin: 10px;
  border: solid 2px black;
}
