#singleFlight{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-card {
  border: 0;
}
.card-deck {
  margin: 5%;
  border: 0px;
}
.flightCrew-card {
  margin: 0;
}
.card-body {
  padding: 0px;
}

#return-button {
  color: #3D5A80;
}
.singleFlightCard {
  .card-title{
    background-color: white;
    margin: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  h5{
    color: #3D5A80;
    
  }
  li{
    
    color: #3D5A80;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
li i{
  color: #3D5A80 !important;
}
li i:hover{
  color: red !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
