@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  color: #2767AD;
}

.hide {
  display: none;
  margin: 0;
  padding: 0;
}
