@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
body {
  background-color: white;
  color: #2767AD;
  font-family: 'Quicksand', sans-serif;}

.hide {
  display: none;
  margin: 0;
  padding: 0;
}

.table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
}
#google-auth {
  background-color: white !important;
  border-color: #185782 !important;
  color: #185782 !important;
}
.fa-globe {
  background-color: white !important;
  border-color: #185782 !important;
  color: #185782 !important;
}
#test-home {
  color: #185782 !important;
}

h2 {
  padding: 0;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
footer {
  background-color: #3D5A80;
  color: white;
  a {
    color: white;
  }
  a:hover {
    color: black;
  }
}

h2 h3 h4 h5 h1 {
  font-weight: 600;
}

.modal-header{
  text-align: center !important;
}
.modal-content{
  display: flex;
  justify-content: center !important;
  color: #185782;
  .modal-body{
    display: flex;
    justify-content: center;
    text-align: center;
    .form-group{
      margin:10px;
    }
  }
  .modal-footer{
    display: flex;
    justify-content: center;
  }
  box-shadow: 0 14px 1000px rgba(0,0,200,0.25), 0 10px 1000px rgba(0,0,200,0.22);
}
