.plane-card {
  width: 18rem;
  height: 180px;
  margin: 40px 40px 200px;
  
  img {
    height: 10rem;
  }
  .plane-body {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
  }
  .plane-button {
    margin-top: 10px;
  }
  i:hover{
    color: red !important;
  }
}
