.flightPlanes {
  margin-top: 60px;
  position: absolute;
  right: 0;
  width: 50%;
  height: 35%;
  border: 2px solid black;
}

.plane-dropdown {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
