@media only screen and (max-width: 4000px){
.path-container-fluid {
  width: 500px;
}
.plane-dropdown {
  width: 500px;
}
#flightCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crewPilots {
  width: 500px;
}
.crewFas {
  width: 500px;
}
}
@media only screen and (max-width: 500px) {
  .path-container-fluid {
    width: 300px;
  }
  .plane-dropdown {
    width: 300px;
  }
  .crewPilots {
    width:300px;
  }
  .crewFas {
    width:30px;
  }
} 

.colorWay {
  margin: 10px;
  padding: 10px;
}
.input-group-text{
  display: flex;
  justify-content: center;
  width: 100px;
  background-color: white !important;
  font-size: Medium  !important;
  color: #3D5A80 !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.custom-select {
  background: white !important;
}
