table, tr, td,th {
  border: 2px solid #185782 !important;
}
table{
  color: #185782 !important;
  button{
    background-color: #185782 !important;
  }
  input[type=checkbox] {
    background-color: #185782 !important;
  }
}
