.flightPath {
margin-top: 60px;
position: absolute;
height: 35%;
width: 45%;
border: solid black 3px;
border-radius: 10px;
};

.path-container-fluid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 20% 20% 25% 20% 15%;
  grid-template-rows: 20% 20% 25% 20% 15%;
  text-align: center;
}

.originDiv {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
}

.destinationDiv {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
}

.header {
  grid-column: 3;
  grid-row: 1;
  justify-self: start;
}
