.flightPath {
position: absolute;
height: 50%;
width: 50%;
border: solid black 3px;
};

.path-container-fluid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  text-align: center;
}

.originDiv {
  justify-content: right;
  grid-column: 2;
  grid-row: 3;
}

.destinationDiv {
  justify-content: left;
  grid-column: 3;
  grid-row: 3;
}
